In [1]:
import pandas as pd
import numpy as np
from utils import *

features = pd.read_csv('features.csv',sep=";")
targets = pd.read_csv('targets.csv',sep=",")

features['StartTime'] = pd.to_datetime(features['StartTime'])
targets['StartTime'] = pd.to_datetime(targets['StartTime'])
features = features.drop('CellId',axis=1)#Same as Band

display(features.describe())

,Band,PL_00,PL_01,PL_02,PL_03,PL_04,PL_05,PL_06,PL_07,PL_08,...,PL_11,PL_12,PL_13,PL_14,PL_15,PL_16,PL_17,PL_18,PL_19,PL_20
count,23416.000000,23408.000000,23408.000000,23408.000000,23408.000000,23408.000000,23408.000000,23408.000000,23408.000000,23408.000000,...,23408.000000,23408.000000,23408.000000,23408.000000,23408.000000,23408.000000,23408.000000,23408.000000,23408.000000,23408.000000
mean,1750.000000,0.007348,0.008587,0.036697,0.272386,4.163619,63.712919,2030.936774,3780.167208,4362.281827,...,12135.284134,16621.672078,21769.731844,21331.408920,12593.011834,4620.605306,3238.195403,2295.018754,914.902597,125.312415
std,638.370898,0.471095,0.292840,0.821941,3.662791,34.805876,190.206189,14253.681192,10542.102521,12021.272761,...,23578.177793,33320.614060,37209.256762,33544.185194,22067.074255,8978.773480,6448.544138,5061.327161,2554.319416,962.292382
min,800.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1550.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,65.000000,156.000000,...,560.000000,827.000000,1850.500000,2719.000000,1690.750000,639.000000,261.000000,118.000000,27.000000,1.000000
50%,1800.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,163.500000,580.500000,965.500000,...,4113.500000,5269.500000,8197.000000,9611.000000,5855.000000,2189.500000,1342.000000,717.500000,215.000000,8.000000
75%,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55.000000,704.000000,4521.000000,3930.250000,...,13601.000000,18247.250000,25209.250000,26471.500000,15430.500000,5790.000000,4002.500000,2520.000000,877.000000,49.000000
max,2600.000000,54.000000,24.000000,70.000000,343.000000,4676.000000,5460.000000,304455.000000,259539.000000,253220.000000,...,893332.000000,891152.000000,845288.000000,680096.000000,537181.000000,353422.000000,192341.000000,130257.000000,90964.000000,79697.000000

### EDA

- We have 8 rows where we have missing values on 4G data.

In [2]:
features[features['PL_00'].isna()]

,StartTime,Band,PL_00,PL_01,PL_02,PL_03,PL_04,PL_05,PL_06,PL_07,...,PL_11,PL_12,PL_13,PL_14,PL_15,PL_16,PL_17,PL_18,PL_19,PL_20
15132,2020-09-09 09:45:00,2600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15133,2020-09-09 09:45:00,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15134,2020-09-09 09:45:00,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15135,2020-09-09 09:45:00,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21168,2020-09-25 03:30:00,2600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21169,2020-09-25 03:30:00,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21170,2020-09-25 03:30:00,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21171,2020-09-25 03:30:00,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#Let's check if we have values frome each 4 bands at each timestemp
features['StartTime'].value_counts()[features['StartTime'].value_counts() < 4]

Series([], Name: StartTime, dtype: int64)

In [4]:
#Pre processing, groupby start Time and add together vehicle count per stationid

targets = groupby_stationid(targets)

#We only want the targets which is within the same time frame as our features

min_startTime = features['StartTime'].min()
max_startTime = features['StartTime'].max()

print(min_startTime)
print(max_startTime)

targets = targets[(targets['StartTime'] >= min_startTime) & (targets['StartTime'] <= max_startTime)]

2020-08-01 00:00:00
2020-09-30 23:45:00

In [5]:
#Let's check if every timestamp is present in the feature and target data

import datetime
date = min_startTime
all_dates = [date]
while date != max_startTime:
    date = date + datetime.timedelta(minutes=15)
    all_dates.append(date)

In [6]:
all_featureStartTime = features['StartTime']
all_featureStartTime_set = [x for x in sorted(list(set(all_featureStartTime)))]

all_targetStartTime = targets['StartTime']
all_targetStartTime_set = [x for x in sorted(list(set(all_targetStartTime)))]

print("Missing feature startTime")
missing_timeStamp_features = [x for x in all_dates if x not in all_featureStartTime_set]
print(missing_timeStamp_features)

print("Missing target startTime")
missing_timeStamp_targets = [x for x in all_dates if x not in all_targetStartTime_set]

print(missing_timeStamp_targets)

Missing feature startTime
[Timestamp('2020-09-25 00:15:00'), Timestamp('2020-09-25 00:30:00')]
Missing target startTime
[Timestamp('2020-08-03 12:00:00'), Timestamp('2020-08-03 12:15:00'), Timestamp('2020-08-03 12:30:00'), Timestamp('2020-08-03 12:45:00'), Timestamp('2020-08-03 13:00:00'), Timestamp('2020-08-03 13:15:00'), Timestamp('2020-08-03 13:30:00'), Timestamp('2020-08-03 13:45:00'), Timestamp('2020-08-03 14:00:00'), Timestamp('2020-08-03 14:15:00'), Timestamp('2020-08-03 14:30:00'), Timestamp('2020-08-03 14:45:00'), Timestamp('2020-08-03 15:00:00'), Timestamp('2020-08-03 15:15:00'), Timestamp('2020-08-03 15:30:00'), Timestamp('2020-08-03 15:45:00'), Timestamp('2020-08-03 16:00:00'), Timestamp('2020-08-03 16:15:00'), Timestamp('2020-08-03 16:30:00'), Timestamp('2020-08-03 16:45:00'), Timestamp('2020-08-03 17:00:00'), Timestamp('2020-08-03 17:15:00'), Timestamp('2020-08-03 17:30:00'), Timestamp('2020-08-03 17:45:00'), Timestamp('2020-08-03 18:00:00'), Timestamp('2020-08-03 18:15:00'), Timestamp('2020-08-03 18:30:00'), Timestamp('2020-08-03 18:45:00'), Timestamp('2020-08-03 19:00:00'), Timestamp('2020-08-03 19:15:00'), Timestamp('2020-08-03 19:30:00'), Timestamp('2020-08-03 19:45:00'), Timestamp('2020-08-03 20:00:00'), Timestamp('2020-08-03 20:15:00'), Timestamp('2020-08-03 20:30:00'), Timestamp('2020-08-03 20:45:00'), Timestamp('2020-08-03 21:00:00'), Timestamp('2020-08-03 21:15:00'), Timestamp('2020-08-03 21:30:00'), Timestamp('2020-08-03 21:45:00'), Timestamp('2020-08-03 22:00:00'), Timestamp('2020-08-03 22:15:00'), Timestamp('2020-08-03 22:30:00'), Timestamp('2020-08-03 22:45:00'), Timestamp('2020-08-03 23:00:00'), Timestamp('2020-08-03 23:15:00'), Timestamp('2020-08-03 23:30:00')]

- We have missing timestamps both in feature and target data.

### Baseline Model

In [13]:
#Let's do a very basic baseline model, to have something to compare with, without any imputation, any scaling or transformation of dataset.

features_baseline = features[~features['PL_01'].isna()]
features_baseline = features_baseline[features_baseline['StartTime'].isin(targets['StartTime'])]
targets_baseline = targets[targets['StartTime'].isin(features_baseline['StartTime'])]

features_baseline_pivot = groupby_band(features_baseline,mode='pivot_band')
feature_baseline_merge = groupby_band(features_baseline,mode='aggregate_mean')
data_baseline_pivot = features_baseline_pivot.merge(targets_baseline,on='StartTime',how='left') #Making sure the target and features are lined up
data_baseline_merge = feature_baseline_merge.merge(targets_baseline,on='StartTime',how='left')  #Making sure the target and features are lined up

data_baseline_merge.head()

,StartTime,PL_00,PL_01,PL_02,PL_03,PL_04,PL_05,PL_06,PL_07,PL_08,...,PL_12,PL_13,PL_14,PL_15,PL_16,PL_17,PL_18,PL_19,PL_20,NumberOfVehicles
0,2020-08-01 00:00:00,0.0,0.0,0.0,0.0,0.0,19.00,123.25,1517.75,1267.50,...,3478.00,14649.75,11249.50,4872.50,1896.75,2369.50,5760.75,4037.50,364.25,267
1,2020-08-01 00:15:00,0.0,0.0,0.0,0.0,0.0,8.25,122.00,936.50,1371.25,...,2317.75,2600.50,5287.00,5925.75,3096.25,1622.25,600.50,218.25,8.25,244
2,2020-08-01 00:30:00,0.0,0.0,0.0,0.0,0.0,33.25,84.75,1141.00,947.25,...,1379.00,2665.00,4492.00,3812.25,4036.00,1607.50,446.50,650.25,96.50,223
3,2020-08-01 00:45:00,0.0,0.0,0.0,0.0,0.0,23.00,111.75,871.25,242.75,...,1923.25,2197.75,2712.25,4611.50,4003.75,1947.25,386.50,472.25,144.50,208
4,2020-08-01 01:00:00,0.0,0.0,0.0,0.0,0.0,9.50,86.00,1323.25,1453.50,...,2183.50,2115.75,2192.25,36105.25,3438.25,2152.25,518.50,768.00,130.50,220

In [8]:
from sklearn.linear_model import LinearRegression

#Sequence is important? Don't shuffle indexes if so
train_size = int(len(data_baseline_pivot) * 0.67)
test_size = len(data_baseline_pivot) - train_size
train_baseline_pivot, val_baseline_pivot = data_baseline_pivot.loc[0:train_size,:], data_baseline_pivot.loc[train_size:,:]
print(len(train_baseline_pivot), len(val_baseline_pivot))
train_baseline_merge, val_baseline_merge = data_baseline_merge.loc[0:train_size,:], data_baseline_merge.loc[train_size:,:]

3890 1916

In [9]:
clf_baseline_pivot = LinearRegression()
clf_baseline_merge = LinearRegression()

y_train_baseline_pivot = train_baseline_pivot['NumberOfVehicles']
X_train_baseline_pivot = train_baseline_pivot.drop('NumberOfVehicles',axis=1)

y_val_baseline_pivot = val_baseline_pivot['NumberOfVehicles']
X_val_baseline_pivot = val_baseline_pivot.drop('NumberOfVehicles',axis=1)

y_train_baseline_merge = train_baseline_merge['NumberOfVehicles']
X_train_baseline_merge = train_baseline_merge.drop('NumberOfVehicles',axis=1)

y_val_baseline_merge = val_baseline_merge['NumberOfVehicles']
X_val_baseline_merge = val_baseline_merge.drop('NumberOfVehicles',axis=1)

if 'StartTime' in X_train_baseline_pivot.columns:
    X_train_baseline_pivot = X_train_baseline_pivot.drop('StartTime',axis=1)
    X_train_baseline_merge = X_train_baseline_merge.drop('StartTime',axis=1)
    
    
if 'StartTime' in X_val_baseline_pivot.columns:
    X_val_baseline_pivot = X_val_baseline_pivot.drop('StartTime',axis=1)
    X_val_baseline_merge = X_val_baseline_merge.drop('StartTime',axis=1)

In [10]:
from sklearn.metrics import mean_squared_error

clf_baseline_pivot.fit(X_train_baseline_pivot,y_train_baseline_pivot)
clf_baseline_merge.fit(X_train_baseline_merge,y_train_baseline_merge)

preds_pivot = clf_baseline_pivot.predict(X_val_baseline_pivot)
preds_merge = clf_baseline_merge.predict(X_val_baseline_merge)

rms_baseline_pivot = mean_squared_error(y_val_baseline_pivot, preds_pivot, squared=False)
rms_baseline_merge = mean_squared_error(y_val_baseline_merge, preds_merge, squared=False)

print("RMSE baseline pivoted data : {}".format(rms_baseline_pivot))
print("RMSE baseline merge data : {}".format(rms_baseline_merge))

RMSE baseline pivoted data : 181.32337823163584
RMSE baseline merge data : 186.86146795991186